[submodule "workspace/src/phidgets_drivers"]
	path = workspace/src/phidgets_drivers
	url = https://github.com/ros-drivers/phidgets_drivers.git
	branch = humble
[submodule "workspace/src/rslidar_msg"]
	path = workspace/src/rslidar_msg
	url = https://github.com/RoboSense-LiDAR/rslidar_msg.git
[submodule "workspace/src/FAST_LIO_ROS2_RobosenseM1P"]
	path = workspace/src/FAST_LIO_ROS2_RobosenseM1P
	url = https://github.com/MorpheKLT/FAST_LIO_ROS2_RobosenseM1P.git
[submodule "workspace/src/rslidar_sdk/src/rs_driver"]
	path = workspace/src/rslidar_sdk/src/rs_driver
	url = https://github.com/RoboSense-LiDAR/rs_driver
