

ekf_filter_node:
  ros__parameters:
    frequency: 30.0
    sensor_timeout: 0.1
    two_d_mode: true
    transform_time_offset: 0.0
    transform_timeout: 0.0
    print_diagnostics: true
    debug: false

    map_frame: map
    odom_frame: odom
    base_link_frame: base_link
    world_frame: odom

    odom0: /odom
    odom0_config: [true,  true,  false, # x y z 
                   false, false, false, # roll pitch yaw
                   true, true, false,   # x' y' z'
                   false, false, false, # roll' pitch' yaw'
                   true, true, false]   # x'' y'' z''

    odom0_differential: false
    odom0_relative: false

    imu0: /imu
    imu0_config: [false, false, false,
                  true,  true,  true,
                  false, false, false,
                  true,  true,  true,
                  false,  false,  false]
    imu0_differential: false
    imu0_relative: false

    use_control: false
    
    publish_tf: true